.foodPicker {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  width: 1200px;

  .queries {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    button {
      width: 150px;
      height: 35px;
      font-size: 16px;
      border: solid black 1px;
      border-radius: 15px;
      background-color: lightblue;
      cursor: pointer;
      transition: 0.4s;
    }

    button:hover {
      filter: brightness(0.8);
    }

    div > button {
      width: 50px;
    }

    .lookup {
      font-size: 14px;
      width: 60px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    div > input {
      height: 35px;
      font-size: 14px;
      border-radius: 15px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 10px;
    }
  }

  .remaining {
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
  }
}