.foodPicker {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  width: 1200px;

  .queries {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    button {
      width: 100px;
      height: 35px;
    }

    div > button {
      width: 50px; 
    }

    div > input {
      height: 35px;
    }
  }

  .remaining {
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
  }
}