.topbar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 90px;
  background-color: antiquewhite;

  .logo {
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
  }

  .center ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 24px;
    transition: all ease;
    font-weight: 600;

    li {
      cursor: pointer;
      position: relative;
    }

    li:hover {
      color: crimson;  
    }

    li:after {
      content: '';
      height: 2px;
      width: 0;
      background: crimson;
      box-shadow: 0px 0px 2px black;
      position: absolute;
      border-radius: 10px;
      bottom: 0;
      left: 0;
      transition: 0.3s;
    }

    li:hover:after {
      width: 100%;

    }
  }

  .socials {
    display: flex;
    gap: 20px;
    font-size: 35px;
    padding-right: 20px;

    i {
      cursor: pointer;
      transition: 0.4s;
    }

    i:hover {
      transform: translateY(-10px);
    }
  }
}


